<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.t2-kbdlight</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/t2-kbdlight</string>
        <string>--watch</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/t2-kbdlight.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/t2-kbdlight.log</string>
</dict>
</plist>
